<mat-toolbar>
  <mat-toolbar-row>
    <div class="left">
      <div class="toolbar-font-color company-logo" >Company Logo</div>

      <mat-form-field
        class="custom-search-field"
        appearance="outline"
        color="primary"
      >
        <input matInput type="search" [(ngModel)]="searchValue" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="right">
      <div class="flag"></div>
      <div class="notification">
        <app-notification-svg></app-notification-svg>
      </div>
      <div class="profile" (click)="navigateToProfile()">
        <div appThemeColor="secondary" class="profile-img"></div>
        <div class="profile-info">
          <div class="toolbar-font-color user-name">Client Name</div>
          <div class="toolbar-font-color user-role">Admin</div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
