@use "mixins/theme-setup" as setup;
@use "@angular/material" as mat;
@use "mixins/custom-mixins" as custom-mixins;

:root {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

  
  @include setup.define-default-variables;
  @include setup.apply-all-component-themes;
  @include custom-mixins.theme-variables();
}

body {
  padding: 0;
  margin: 0;
  height: 100%;

  &.light {
   mat-toolbar {background-color: var(--sys-tertiary);}
   mat-sidenav-container {background-color: var(--sys-tertiary);}
   mat-sidenav-content li:hover {background-color: var(--sys-primary);} 

  //  mat-form-field input::placeholder{color: yellow !important;}
  //  mat-form-field mat-label{color: yellow !important;}
  //  mat-form-field mat-label:hover{color: red !important;}

  .primary-color {background-color: var(--sys-primary);}
  .secondary-color {background-color: var(--sys-secondary);}
  .tertiary-color {background-color: var(--sys-tertiary);}
  .neutral-color {background-color: var(--neutral);}
  .dark-tertiary-color {background-color: var(--dark-tertiary);}
  .dark-neutral-color {background-color: var(--dark-neutral);}
  .light-tertiary-color {background-color: var(--sys-tertiary);}
  .light-neutral-color {background-color: var(--neutral);}
  .error-color {background-color: var(--error);}
  .toolbar-font-color {color: var(--sys-on-tertiary);}
  .body-font-color {color: var(--sys-on-surface);}
  .body-font-color-light-bg {color: var(--light-body-font-color);}
  .body-font-color-dark-bg {color: var(--dark-body-font-color);}
  .svg-stroke {stroke: var(--sys-on-tertiary);}
  .svg-fill {fill: var(--sys-on-tertiary);}

  }
  &.dark {
    mat-toolbar {background-color: var(--dark-tertiary);}
    mat-sidenav-container {background-color: var(--dark-tertiary);}
    mat-sidenav-content li:hover {background-color: var(--sys-primary);}

  .primary-color {background-color: var(--sys-primary);}
  .secondary-color {background-color: var(--sys-secondary);}
  .tertiary-color {background-color: var(--dark-tertiary);}
  .neutral-color {background-color: var(--dark-neutral);}
  .dark-tertiary-color {background-color: var(--dark-tertiary);}
  .dark-neutral-color {background-color: var(--dark-neutral);}
  .light-tertiary-color {background-color: var(--sys-tertiary);}
  .light-neutral-color {background-color: var(--neutral);}
  .error-color {background-color: var(--error);}
  .toolbar-font-color {color: var(--dark-tool-bar-font-color);}
  .body-font-color {color: var(--dark-body-font-color);}
  .body-font-color-light-bg {color: var(--light-body-font-color);}
  .body-font-color-dark-bg {color: var(--dark-body-font-color);}
  .svg-stroke {stroke: var(--dark-tool-bar-font-color);}
  .svg-fill {fill: var(--dark-body-font-color);}

  }
}
