@use "mixins/theme-setup" as setup;
@use "@angular/material" as mat;


:root {
    box-sizing: border-box;
    @include setup.apply-all-component-themes;

    font-family: "Nunito Sans", sans-serif;
    --primary: #F15928;
    --secondary: #BBBFE8;
    --tertiary: #E1EAF9;
    --error: #FF3A5D;
    --neutral: #F3F3F3;
    --dark-tertiary: #232323;
    --dark-neutral: #565656;

    --dark-body-font-color: #ffffff;
    --light-body-font-color: #000000;

    --dark-tool-bar-font-color: #ffffff;
    --light-tool-bar-font-color: #ffffff;
    

  


    --sys-background: var(--neutral);
	--sys-error: var(--error);
	--sys-error-container: var(--neutral);
	--sys-inverse-on-surface: #ffffff;
	--sys-inverse-primary: var(--primary);
	--sys-inverse-surface: var(--dark-neutral);
	--sys-on-background: black;
	--sys-on-error: var(--error);
	--sys-on-error-container: var(--error);
	--sys-on-primary: #ffffff; 
	--sys-on-primary-container: #ffffff;
	--sys-on-primary-fixed: #ffffff;
	--sys-on-primary-fixed-variant: #ffffff;
	--sys-on-secondary: #ffffff;
	--sys-on-secondary-container: #ffffff;
	--sys-on-secondary-fixed: #ffffff;
	--sys-on-secondary-fixed-variant: #ffffff;
	--sys-on-surface: black;
	--sys-on-surface-variant: #5a413a;
	--sys-on-tertiary: black;
	--sys-on-tertiary-container: #131c27;
	--sys-on-tertiary-fixed: #131c27;
	--sys-on-tertiary-fixed-variant: #3e4753;
	--sys-outline: var(--primary);
	--sys-outline-variant: #e2bfb5;
	--sys-primary: var(--primary);
	--sys-primary-container: var(--primary);
	--sys-primary-fixed: var(--primary); 
	--sys-primary-fixed-dim: var(--primary);
	--sys-scrim: #000000;
	--sys-secondary: var(--secondary);
	--sys-secondary-container: var(--secondary);
	--sys-secondary-fixed: var(--secondary);
	--sys-secondary-fixed-dim: var(--secondary);
	--sys-shadow: #0000002B;
	--sys-surface: var(--neutral);
	--sys-surface-bright: var(--neutral);
	--sys-surface-container: var(--neutral);
	--sys-surface-container-high:var(--neutral);
	--sys-surface-container-highest: var(--neutral);
	--sys-surface-container-low: var(--neutral);
	--sys-surface-container-lowest: var(--neutral);
	--sys-surface-dim: var(--neutral);
	--sys-surface-tint: var(--neutral);
	--sys-surface-variant: var(--neutral);
	--sys-tertiary: var(--tertiary);
	--sys-tertiary-container: var(--tertiary);
	--sys-tertiary-fixed: var(--tertiary);
	--sys-tertiary-fixed-dim: var(--tertiary);
}

body{
    padding: 0;
    margin: 0;

    height: 100%;

    &.light1{
 
        
          mat-toolbar {
            background-color: var(--sys-tertiary);
          }
        
          mat-sidenav-container {
            background-color: var(--sys-tertiary);
          }
          mat-sidenav-content li:hover {
            background-color: var(--sys-primary);
          }
        
          .primary-color {
            background-color: var(--sys-primary);
          }
        
          .secondary-color {
            background-color: var(--sys-secondary);
          }
        
          .tertiary-color {
            background-color: var(--sys-tertiary);
          }
        
          .neutral-color {
            background-color: var(--neutral);
          }
        
          .dark-tertiary-color {
            background-color: var(--dark-tertiary);
          }
        
          .dark-neutral-color {
            background-color: var(--dark-neutral);
          }
        
          .light-tertiary-color {
            background-color: var(--sys-tertiary);
          }
        
          .light-neutral-color {
            background-color: var(--neutral);
          }
        
          .error-color {
            background-color: var(--error);
          }
        

        
          .toolbar-font-color {
            color: var(--sys-on-tertiary);
          }
        
          .body-font-color {
            color: var(--sys-on-surface);
          }
        
          .body-font-color-light-bg {
            color: var(--sys-on-surface);
          }
          .body-font-color-dark-bg {
            color: var(--sys-on-tertiary);
          }
        
          .svg-stroke {
            stroke: var(--sys-on-tertiary);
          }
        
          .svg-fill {
            fill: var(--sys-on-tertiary);
          }
        
          .theme1-primary-color {
            background-color: #af3000;
          }
          .theme2-primary-color {
            background-color: #c78d8d;
          }
          .theme3-primary-color {
            background-color: #30a800;
          }
          .theme4-primary-color {
            background-color: #85a5d5;
          }
          .theme5-primary-color {
            background-color: #a2e3e0;
          }
          .theme6-primary-color {
            background-color: #d1d1d1;
          }
    }
    &.dark1{
 
        
          mat-toolbar {
            background-color: var(--dark-tertiary);
          }
        
          mat-sidenav-container {
            background-color: var(--dark-tertiary);
          }
          mat-sidenav-content li:hover {
            background-color: var(--sys-primary);
          }
        
          .primary-color {
            background-color: var(--sys-primary);
          }
        
          .secondary-color {
            background-color: var(--sys-secondary);
          }
        
          .tertiary-color {
            background-color: var(--dark-tertiary);
          }
        
          .neutral-color {
            background-color: var(--dark-neutral);
          }
        
          .dark-tertiary-color {
            background-color: var(--dark-tertiary);
          }
        
          .dark-neutral-color {
            background-color: var(--dark-neutral);
          }
        
          .light-tertiary-color {
            background-color: var(--sys-tertiary);
          }
        
          .light-neutral-color {
            background-color: var(--neutral);
          }
        
          .error-color {
            background-color: var(--error);
          }
        
          .toolbar-font-color {
            color: var(--dark-tool-bar-font-color);
          }
        
          .body-font-color {
            color: var(--dark-body-font-color);
          }
        
          .body-font-color-light-bg {
            color: var(--light-body-font-color);
          }
          .body-font-color-dark-bg {
            color: var(--dark-body-font-color);
          }
        
          .svg-stroke {
            stroke: var(--dark-tool-bar-font-color);
          }
        
          .svg-fill {
            fill: var(--dark-body-font-color);
          }
        
          .theme1-primary-color {
            background-color: #af3000;
          }
          .theme2-primary-color {
            background-color: #c78d8d;
          }
          .theme3-primary-color {
            background-color: #30a800;
          }
          .theme4-primary-color {
            background-color: #85a5d5;
          }
          .theme5-primary-color {
            background-color: #a2e3e0;
          }
          .theme6-primary-color {
            background-color: #d1d1d1;
          }
    }
}



























// -sys-background: #fcfcfc;
//   --sys-error: var(--error);
//   --sys-error-container: #ffdad6;
//   --sys-inverse-on-surface: #f1f1f1;
//   --sys-inverse-primary: #ffb59f;
//   --sys-inverse-surface: #565656;
//   --sys-on-background: #1a1c1c;
//   --sys-on-error: #ffffff;
//   --sys-on-error-container: #410002;
//   --sys-on-primary: #ffffff;
//   --sys-on-primary-container: #3a0a00;
//   --sys-on-primary-fixed: #3a0a00;
//   --sys-on-primary-fixed-variant: #862300;
//   --sys-on-secondary: #ffffff;
//   --sys-on-secondary-container: #13173f;
//   --sys-on-secondary-fixed: #13173f;
//   --sys-on-secondary-fixed-variant: #3f436d;
//   --sys-on-surface: #1a1c1c;
//   --sys-on-surface-variant: #5a413a;
//   --sys-on-tertiary: #ffffff;
//   --sys-on-tertiary-container: #131c27;
//   --sys-on-tertiary-fixed: #131c27;
//   --sys-on-tertiary-fixed-variant: #3e4753;
//   --sys-outline: var(--primary);
//   --sys-outline-variant: #e2bfb5;
//   --sys-primary: var(--primary);
//   --sys-primary-container: #ffdbd1;
//   --sys-primary-fixed: #ffdbd1;
//   --sys-primary-fixed-dim: #ffb59f;
//   --sys-scrim: #000000;
//   --sys-secondary: var(--secondary);
//   --sys-secondary-container: #dfe0ff;
//   --sys-secondary-fixed: #dfe0ff;
//   --sys-secondary-fixed-dim: #bfc3f4;
//   --sys-shadow: #000000;
//   --sys-surface: #fcfcfc;
//   --sys-surface-bright: #f9f9f9;
//   --sys-surface-container: #eeeeee;
//   --sys-surface-container-high: #e8e8e8;
//   --sys-surface-container-highest: #e2e2e2;
//   --sys-surface-container-low: #f4f4f4;
//   --sys-surface-container-lowest: #ffffff;
//   --sys-surface-dim: #dadada;
//   --sys-surface-tint: #af3000;
//   --sys-surface-variant: #ffdbd1;
//   --sys-tertiary: var(--tertiary);
//   --sys-tertiary-container: #dae3f2;
//   --sys-tertiary-fixed: #dae3f2;
//   --sys-tertiary-fixed-dim: #bec7d6;