mat-sidenav-container{
  height: 100%;
}

.container {
  height: calc(100vh - 100px);
  width: fit-content;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 20px 40px;
  cursor: pointer;
}

ul li:hover {
  padding: 20px 40px;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
