<mat-sidenav-container>

    <mat-sidenav mode="side" [(opened)]="opened">hello</mat-sidenav>
        <mat-sidenav-content>
            <div class="container">
                <nav>
                    <ul>
                        <li><a appToolBarFontColor href="#" appToolBarFontColor>Dashboard</a></li>
                        <li><a appToolBarFontColor href="#" appToolBarFontColor>Leaves Management</a></li>
                        <li><a appToolBarFontColor href="#" appToolBarFontColor>User Management</a></li>
                        <li><a appToolBarFontColor href="#" appToolBarFontColor>Org-Chart</a></li>
                        <li><a appToolBarFontColor href="#" appToolBarFontColor>Settings</a></li>
                    </ul>
                </nav>
            </div>
        </mat-sidenav-content>
</mat-sidenav-container>
