@use 'themes/m3-theme1.scss' as t1;
@use 'themes/m3-theme2.scss' as t2;
@use 'themes/m3-theme3.scss' as t3;
@use 'themes/m3-theme4.scss' as t4;
@use 'themes/m3-theme5.scss' as t5;
@use 'themes/m3-theme6.scss' as t6;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.light1{
  @include t1.apply-light-theme;
}

.dark1{
  @include t1.apply-dark-theme;
}

.light2{
  @include t2.apply-light-theme;
}

.dark2{
  @include t2.apply-dark-theme;
}
.light3{
  @include t3.apply-light-theme;
}

.dark3{
  @include t3.apply-dark-theme;
}

.light4{
  @include t4.apply-light-theme;
}

.dark4{
  @include t4.apply-dark-theme;
}
.light5{
  @include t5.apply-light-theme;
}

.dark5{
  @include t5.apply-dark-theme;
}

.light6{
  @include t6.apply-light-theme;
}

.dark6{
  @include t6.apply-dark-theme;
}




