@mixin theme-variables {
  --primary: #8d8d8d;
  --secondary: #d9d9d9;
  --tertiary: #e8e8e8;
  --error: #ff3a5d;
  --neutral: #ffffff;
  --dark-tertiary: #232323;
  --dark-neutral: #565656;
  --dark-body-font-color: #ffffff;
  --light-body-font-color: #000000;
  --dark-tool-bar-font-color: #ffffff;
  --light-tool-bar-font-color: #ffffff;

  --sys-background: var(--neutral);
  --sys-error: var(--error);
  --sys-error-container: var(--neutral);
  --sys-inverse-on-surface: #ffffff;
  --sys-inverse-primary: var(--primary);
  --sys-inverse-surface: var(--dark-neutral);
  --sys-on-background: black;
  --sys-on-error: var(--error);
  --sys-on-error-container: var(--error);
  --sys-on-primary: var(--neutral);
  --sys-on-primary-container: #ffffff;
  --sys-on-primary-fixed: #ffffff;
  --sys-on-primary-fixed-variant: #ffffff;
  --sys-on-secondary: #ffffff;
  --sys-on-secondary-container: #ffffff;
  --sys-on-secondary-fixed: #ffffff;
  --sys-on-secondary-fixed-variant: #ffffff;
//   --sys-on-surface: black;
//   --sys-on-surface-variant: var(--light-body-font-color);
//   --sys-on-tertiary: var(--light-tool-bar-font-color);
  --sys-on-tertiary-container: #131c27;
  --sys-on-tertiary-fixed: #131c27;
  --sys-on-tertiary-fixed-variant: #3e4753;
  --sys-outline: var(--primary);
  --sys-outline-variant: #e2bfb5;
  --sys-primary: var(--primary);
  --sys-primary-container: var(--primary);
  --sys-primary-fixed: var(--primary);
  --sys-primary-fixed-dim: var(--primary);
  --sys-scrim: #000000;
  --sys-secondary: var(--secondary);
  --sys-secondary-container: var(--secondary);
  --sys-secondary-fixed: var(--secondary);
  --sys-secondary-fixed-dim: var(--secondary);
  --sys-shadow: #0000002b;
  --sys-surface: var(--neutral);
  --sys-surface-bright: var(--neutral);
  --sys-surface-container: var(--neutral);
  --sys-surface-container-high: var(--neutral);
  --sys-surface-container-highest: var(--neutral);
  --sys-surface-container-low: var(--neutral);
  --sys-surface-container-lowest: var(--neutral);
  --sys-surface-dim: var(--neutral);
  --sys-surface-tint: var(--neutral);
  --sys-surface-variant: var(--neutral);
  --sys-tertiary: var(--tertiary);
  --sys-tertiary-container: var(--tertiary);
  --sys-tertiary-fixed: var(--tertiary);
  --sys-tertiary-fixed-dim: var(--tertiary);
}