<div appThemeColor="neutral" class="container">
    <div class="header">
        <h1 class="body-font-color">Select Color Theme</h1>
        <button class="close-button" (click)="closeThemeOptions()">
            <app-close-svg></app-close-svg>
        </button>
    </div>

    <div class="colors">
        <h2 class="body-font-color">Colors</h2>
        <div class="colors-list">
            <div  class="theme1-primary-color color selected" (click)="selectTheme(1)"></div>
            <div  class="theme2-primary-color color" (click)="selectTheme(2)"></div>
            <div  class="theme3-primary-color color" (click)="selectTheme(3)"></div>
            <div  class="theme4-primary-color color" (click)="selectTheme(4)"></div>
            <div  class="theme5-primary-color color" (click)="selectTheme(5)"></div>
            <div  class="theme6-primary-color color" (click)="selectTheme(6)"></div>
        </div>
    </div>

    <div class="theme">

        <!-- <mat-radio-group  aria-label="Select an option">
            <mat-radio-button name="theme" (change)="toggleLightDarkRadio(true)"  [checked]="isLight" value="light">Light</mat-radio-button>
            <mat-radio-button name="theme" (change)="toggleLightDarkRadio(false)" [checked]="!isLight" value="dark">Dark</mat-radio-button>
          </mat-radio-group> -->
          
        <label class="body-font-color">
            <input type="radio" name="theme" value="light" (change)="toggleLightDarkRadio(true)" [checked]="isLight"/>
            Light mood
        </label>
        
        <label class="body-font-color">
            <input type="radio" name="theme" value="dark" (change)="toggleLightDarkRadio(false)" [checked]="!isLight"/>
            Dark mood
        </label>


        <div *ngFor="let color of colors" class="color-container" [appThemeColor]="color.theme">
            <div [appThemeColor]="color.type" class="color"></div>
            <p [ngClass]="color.class">{{ color.label }}</p>
        </div>

    </div>
    <button mat-flat-button class="save-button" (click)="applyTheme()">Save</button>
</div>

